.mystory-list {
  position: absolute;
  top: 20%;
  left: 60%;

  .mystory-container {

    ul {
      counter-reset: list;
      border-left: 2px solid lightgrey;
      margin: 1em;
      padding: 0;
    }

    ul li {
      list-style: none;
      margin: 0 0 0.5em 0;
      padding: 0;
    }

    ul li:before {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      margin: 0 0.5em 0 -0.65em;
      border-radius: 50%;
      content: counter(list);
      text-align: center;
      background: lightgrey;
      counter-increment: list;
    }

    p {
      justify-content: flex-start;
      text-align: center;
      padding: 0 0 0 2rem;
      display: flex;
    }
  }
}