.matrix-stream {
    font-family: 'matrixFont';
    color: #14C38E;
    writing-Mode: vertical-rl;
    text-orientation: upright;
    user-select: none;
    white-space: nowrap;
    margin-left: -15;
    margin-right: -15;
    text-shadow: 0px 0px 8px rgba(32, 194, 14, 0.8);
    font-size: 31;
}


.matrix-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: ignore;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
@media screen and (min-width:1200px) and (max-width:1600px) {
    .matrix-stream {
        font-size: 25;
    }
}

@media screen and (max-width: 900px) {
    .matrix-container {
        display: none;
    }
}